{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'article</h3>

<div class="well">
  {% form_theme form 'bootstrap_3_layout.html.twig' %}
  {{ form_widget(form) }}
</div>

