<ul class="nav nav-pills nav-stacked">
  {% for category in categories %}
    <li>
      <a href="{{ path('core_category', {'id': category.id}) }}">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
</ul>