{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block bandeau %}
<div class="image-bandeau2"></div>
{% endblock %}

{% block body %}

    
        <div class="row">
            <div class="col-md-12 col-sm-12 menu">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="container img-circle bt-blue">
                        <a href="#">
                            <i class="fa fa-star-o fa-5x"></i><br>
                            <div>Tutos du mois</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="container img-circle bt-blue " src="">
                        <a href="#">
                            <i class="fa fa-calendar fa-5x"></i><br>
                            <div>Nouveautés</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="container img-circle bt-blue" src="">
                        <a href="#">
                            <i class="fa fa-comment-o fa-5x"></i><br>
                            <div>Forum</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="container img-circle bt-blue" src="">
                        <a href="#">
                            <i class="fa fa-heart-o fa-5x"></i><br>
                            <div>Les plus connues</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
            
            </div>
            <div class="col-md-8 col-sm-8 content">
                <a href="article.html"><h1>Article de la semaine</h1></a>
                <div class="col-md-5">
                    <a href="article.html">image</a>
                </div>
                <div class="col-md-7">
                    <h3>{{ article.name }}</h3>
                    <p>{{ article.content }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 pull-right pub">
                <a href="#"><h1>Pub</h1></a>
            </div>
        </div>
    </div>
        
    <div class="jumbotron image-bandeau"></div>
        
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 content">
                <a href="#"><h1>Inscription gratuite et payante blablabla</h1></a>
            </div>
        </div>


{% endblock %}